@import "colors";

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-bg-black;
    color: $primary-color;
    padding-inline: 20px;

    ul {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
}